curso_rapido_python3\tipos\__pycache__
curso_rapido_python3\pacote\sub\__pycache__
curso_rapido_python3\operadores\__pycache__
curso_rapido_python3\controle\__pycache__
curso_rapido_python3\book_exercise\chapter_3\__pycache__
curso_rapido_python3\function1\__pycache__